---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SODA STUDIO - 홈">
	<section 
		class="hero-section" 
		style="background-image: url('/images/main-visual.jpg');"
	>
		<div class="hero-logo">
			SODA<br/>STUDIO
		</div>
	</section>

	<div class="container">
		<h2>당신만의 블루, 석촌동 소다 스튜디오와 함께 ☺️</h2>
		<p>이곳은 소다 스튜디오의 메인 페이지입니다. 앞으로 이곳에 스튜디오의 멋진 사진들을 채워나갈 예정입니다.</p>
	</div>
</Layout>
